body {
    position: relative;
    font-family: 'Roboto';
    color: var(--primary-text-color);
    background-color: #F5F5F5;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width:1200px) {
        max-width: 677px;
        padding: 0;
    }

    @media screen and (max-width:767px) {
        max-width: 318px;
        padding: 0;
    }
}