.footer {
    padding: 114px 0 163px 0;

    .container {
        display: flex;
        align-items: center;
        padding: 0;
        padding-right: 233px;
        padding-left: 104px;
    }

    @media screen and (max-width:1370px) {
        .container {
            justify-content: space-between;
        }
    }

    @media screen and (max-width:1200px) {
        padding: 36px 0 60px 0;

        .container {
            flex-direction: column;
            padding: 0;
        }
    }

    @media screen and (max-width:767px) {
        padding: 50px 0;
    }
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-right: 165px;

    p {
        font-size: 30px;
        line-height: 1.15;
        color: var(--black-text-color);
    }

    a {
        font-family: 'Roboto';
        font-size: 25px;
        line-height: 1.16;
        color: #242451;
    }

    @media screen and (max-width:1370px) {
        margin-right: 0;
    }

    @media screen and (max-width:1200px) {
        align-items: center;
        margin-bottom: 47px;
    }

    @media screen and (max-width:767px) {
        gap: 10px;
        margin-bottom: 25px;

        p {
            font-size: 27px;
        }

        a {
            font-size: 22px;
        }
    }
}

.footer__logo {
    @media screen and (max-width:1200px) {
        display: none;
    }
}

.footer__logo_mob {
    display: none;
    width: 147px;
    height: 149px;
    margin-bottom: 17px;

    @media screen and (max-width:1200px) {
        display: block;
    }

    @media screen and (max-width:767px) {
        width: 81px;
        height: 82px;
        margin-bottom: 20px;
    }
}

.footer__lang {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: auto;

    a {
        font-family: 'Roboto';
        font-size: 64px;
        line-height: 1.16;
        color: var(--black-text-color);
    }

    @media screen and (max-width:1370px) {
        margin-left: 0;
    }

    @media screen and (max-width:1200px) {
        flex-direction: row;
        gap: 127px;
    }

    @media screen and (max-width:767px) {
        flex-direction: column;
        gap: 14px;

        a {
            font-size: 40px;
        }
    }
}