.service {
    padding: 90px 0;
    overflow: hidden;

    @media screen and (max-width:1200px) {
        padding: 60px 0;
    }

    @media screen and (max-width:767px) {
        padding: 50px 0;

        .container {
            max-width: 350px;
        }
    }

    @media screen and (max-width:350px) {
        .container {
            max-width: 318px;
        }
    }
}

.service__title {
    font-family: 'Merriweather';
    font-size: 60px;
    line-height: 1.25;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 54px;

    @media screen and (max-width:1200px) {
        font-size: 40px;
        margin-bottom: 42px;
    }

    @media screen and (max-width:767px) {
        font-size: 35px;
        margin-bottom: 22px;
    }
}

.service__desc {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.16;
    color: var(--black-text-color);
    margin-bottom: 54px;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

.service__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service__button {
    width: 100%;
    background-color: transparent;
    padding: 36px 0 39px 0;

    background-color: #242451;
    background-image: url(../img/icons/bottom-arrow-white.svg);
    background-repeat: no-repeat;
    background-position: top 55px right 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    transition-duration: 300ms;

    @media screen and (max-width:767px) {
        background-size: 27px;
        background-position: top 56px right 14px;
    }

    .service__number {
        font-family: 'Merriweather';
        font-size: 40px;
        line-height: 1.25;
        color: var(--primary-text-color);
        transition-duration: 300ms;
        padding-left: 30px;

        @media screen and (max-width:767px) {
            font-size: 25px;
            padding-left: 15px;
        }
    }

    .service__subtitle {
        margin-left: 42px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.16;
        color: var(--primary-text-color);
        transition-duration: 300ms;

        @media screen and (max-width:1200px) {
            margin-left: 30px;
            max-width: 363px;
            text-align: left;
        }

        @media screen and (max-width:767px) {
            font-size: 22px;
            margin-left: 20px;
            max-width: 223px;
        }

        @media screen and (max-width:350px) {
            max-width: 196px;
        }
    }

    .service__border {
        transition-duration: 300ms;
        margin-top: 39px;
        margin-bottom: 30px;
        border-bottom: 1px solid #F4F4F4;
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin: 0;
    }

    .service__calc {
        transition-duration: 300ms;
        padding: 0 117px;
        visibility: hidden;
        opacity: 0;
        height: 0;

        @media screen and (max-width:1200px) {
            padding: 0 34px;
        }

        @media screen and (max-width:767px) {
            padding: 0 10px 0 15px;
        }
    }

    .service__money {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        @media screen and (max-width:1200px) {
            margin-top: 60px;
        }

        @media screen and (max-width:767px) {
            margin-top: 27px;
            flex-direction: column;
            gap: 27px;
        }
    }

    .service__sum {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.16;
        color: #242451;

        span {
            margin-left: 28px;
        }

        @media screen and (max-width:1200px) {
            font-size: 30px;

            span {
                margin-left: 12px;
            }
        }

        @media screen and (max-width:767px) {
            text-align: center;
            max-width: 220px;

            span {
                margin-left: 0;
            }
        }
    }

    .service__design {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26px 104px;
        background: #242451;
        box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.25);
        border-radius: 20px;
        cursor: pointer;

        font-family: 'Roboto';
        font-size: 25px;
        line-height: 1.16;
        color: var(--primary-text-color);

        @media screen and (max-width:1200px) {
            padding: 21px 51px;
            font-size: 20px;
        }
    }
}

.service__button.active {
    background-color: #F4F4F4;
    background-image: url(../img/icons/bottom-arrow.svg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding-bottom: 73px;

    @media screen and (max-width:1200px) {
        padding-bottom: 57px;
    }

    .service__number {
        color: #242451;
    }

    .service__subtitle {
        color: #242451;
    }

    .service__border {
        visibility: visible;
        opacity: 1;
        height: auto;
        margin: 39px 0 30px 0;

        @media screen and (max-width:1200px) {
            margin-top: 29px;
            margin-bottom: 40px;
        }

        @media screen and (max-width:767px) {
            margin-top: 39px;
            margin-bottom: 28px;
            width: calc(100% - 28px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .service__calc {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

.service__info {
    display: flex;
    align-items: center;
}

// calculator
.calc__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.16;
    color: #242451;
    text-align: left;
    margin-bottom: 21px;

    @media screen and (max-width:767px) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.calc__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.calc__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #242451;
    padding-bottom: 9px;

    @media screen and (max-width:767px) {
        flex-wrap: wrap;
    }
}

.calc__agree {
    position: relative;
    width: 0;
    height: 0;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: #242451;
        border-radius: 1px;

        @media screen and (max-width:767px) {
            top: 1.5px;
        }
    }

    &:checked {
        &::before {
            background-image: url(../img/icons/agree.svg);
            background-repeat: no-repeat;
            background-size: 11px;
            background-position: center center;
        }
    }
}

.calc__name {
    font-size: 20px;
    line-height: 1.16;
    color: #242451;
    margin-left: 40px;
    text-align: left;
    max-width: 850px;

    @media screen and (max-width:1200px) {
        max-width: 400px;
    }

    @media screen and (max-width:767px) {
        margin-left: 30px;
        font-size: 18px;
        width: calc(100% - 25px);
    }
}

.calc__money {
    width: 120px;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.16;
    color: #242451;
    text-align: left;

    @media screen and (max-width:767px) {
        font-size: 16px;
        margin-left: 30px;
        margin-top: 4px;
    }
}