.useful {
    padding: 90px 0;
    background-color: #242451;

    @media screen and (max-width:1200px) {
        padding: 60px 0;
    }

    @media screen and (max-width:767px) {
        padding: 44px 0 50px 0;
    }
}

.useful__title {
    font-family: 'Merriweather';
    font-size: 60px;
    line-height: 1.25;
    color: var(--primary-text-color);
    margin-bottom: 73px;
    text-align: center;

    @media screen and (max-width:1200px) {
        font-size: 40px;
        margin-bottom: 42px;
    }

    @media screen and (max-width:767px) {
        font-size: 35px;
        margin-bottom: 22px;
    }
}

.useful__list {
    display: flex;
    align-items: flex-start;
    gap: 108px;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        gap: 50px;
    }

    @media screen and (max-width:767px) {
        gap: 30px;
    }
}

.useful__item {
    width: calc(50% - 54px);

    @media screen and (max-width:1200px) {
        width: 100%;
    }
}

.useful__image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 41px;

    @media screen and (max-width:1200px) {
        width: 100%;
        margin-bottom: 30px;
    }

    @media screen and (max-width:767px) {
        margin-bottom: 23px;
    }
}

.useful__subtitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.16;
    color: var(--white-text-color);
    margin-bottom: 30px;

    @media screen and (max-width:1200px) {
        font-size: 30px;
        margin-bottom: 20px;
    }

    @media screen and (max-width:767px) {
        font-size: 22px;
    }
}

.useful__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 225px;

    @media screen and (max-width:1200px) {
        height: auto;
    }
}

.useful__desc {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.16;
    color: var(--white-text-color);
    max-width: 613px;

    @media screen and (max-width:1200px) {
        font-size: 20px;
        max-width: 100%;
    }

    @media screen and (max-width:767px) {
        font-size: 18px;
    }
}

.useful__full {
    z-index: 2;
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 36px;
    background-color: transparent;
    max-width: 350px;

    font-family: 'Roboto';
    font-size: 30px;
    line-height: 1.16;
    color: var(--white-text-color);

    @media screen and (max-width:1200px) {
        font-size: 25px;
        margin-top: 20px;
    }

    @media screen and (max-width:767px) {
        font-size: 20px;
    }
}